
    body{background-color:#f8f5ee;font-size:12px;}
    body{background-color:#f8f5ee;font:12px '宋体';color:#522a06;}
	#header{background-image:url(images/bg.gif);
	        height:205px;}
	#bander{height:164px;width:1000px;}
	img{margin-top:38px;margin-left:25px;}
	#nav{background-image:url(images/nav.jpg);
	     height:40px;}
	.nav_body{width:1000px;}
	.nav_content{width:800px;font-weight:600;line-height:40px;}
	a.a{color:#fff;text-decoration:none;margin-right:8px;}
	a.a:hover{color:#f9f603;text-decoration:none;margin-right:8px;}
    .text{height:19px;width:140px;background-color:#f8f5ee;}
    .botton{width:44px;height:25px;background-color:#000;border:1px solid #f8f5ee;color:#fff;}
    .float1{float:right;width:200px;}
    .float2{float:left;}
    #content{font-size:12px;margin:0 auto;width:1000px;height:770px;}
    #content_left{padding-top:10px;width:700px;float:left;}
    .content_left_p{line-height:25px;text-indent:2em;margin-bottom:5px;margin-top:5px;}
    .huiyi_img{margin:12px 75px;}
    a{color:#522a06;text-decoration:none;}
    a:hover{color:#522a06;text-decoration:underline;}
    .div{width:300px;height:15px;margin-top:10px;float:left;}
    #content_right{width:278px;height:736px;float:right;margin-top:10px;margin-left:8px;}
    .gengxin{background-image:url(images/fengcai_bg2.png);background-size:278px 200px;width:278px;height:200px;}
    .gengxin_img{margin-top:10px;margin-left:35px;}
    .gengxin_ul{list-style-type:none;padding-left:15px;margin-top:4px}
    li{line-height:30px;}
    .content_right_img1{margin-left:81px;margin-top:30px;}
    .mingjia{background-image:url(images/show_bg.png);background-repeat:no-repeat;margin-top:15px;height:362px;}
    .mingjia_img{padding:0px;width:224px;margin-top:15px;}
    .mingjia_p{width:224px;margin-left:28px;margin-bottom:0px}
    .content_right_img2{margin-top:0px;}
     #footer{background-image:url(images/foot.gif);background-repeat:no-repeat;height:105px;clear:both;text-align:center;}
    .footer_ul{list-style-type:none;height:30px;width:450px;margin:0 auto;}
    .footer_li{float:left;}
    .footer_img{margin-top:10px;}
