    body{background-color:#f8f5ee;font-size:12px;}
    body{background-color:#f8f5ee;font:12px '宋体';color:#522a06;}
	#header{background-image:url(images/bg.gif);
	        height:205px;}
	#bander{height:164px;width:1000px;}
	img{margin-top:38px;margin-left:25px;}
	#nav{background-image:url(images/nav.jpg);
	     height:40px;}
	.nav_body{width:1000px;}
	.nav_content{width:800px;font-weight:600;line-height:40px;}
	a.a{color:#fff;text-decoration:none;margin-right:8px;}
	a.a:hover{color:#f9f603;text-decoration:none;margin-right:8px;}
    .text{height:19px;width:140px;background-color:#f8f5ee;}
    .botton{width:44px;height:25px;background-color:#000;border:1px solid #f8f5ee;color:#fff;}
    .float1{float:right;width:200px;}
    .float2{float:left;}
    a{color:#522a06;text-decoration:none;}
    a:hover{color:#522a06;text-decoration:underline;}
    #content{margin:0 auto;width:1000px;height:600px;}
    #content_left{width:210px;height:550px;float:left;}
    .peixun{background-image:url(images/fengcai_bg2.png);background-size:200px 250px;background-repeat:no-repeat;height:270px;width:205px;}
    .peixun_ul{list-style-type:none}
    .peixun_img{margin-top:0px;margin-left:5px;}
    .peixun_li1{background-image:url(images/menubg.gif);background-repeat:no-repeat;background-position:0% 40%;height:40px;}
    .peixun_a{margin-left:25px;font-weight:600;color:#000;}
    #zuijin{background-image:url(images/fengcai_bg2.png);background-size:200px 180px;background-repeat:no-repeat;height:200px;width:205px;}
    .zuijin_img{margin-top:10px;margin-left:0px;}
    #content_right{width:780px;float:right;height:550px;}
    .content_right_p{background-image:url(images/listtitle.png);background-repeat:no-repeat;height:45px;width:760px;}
    .h3{color:#b70000;margin-left:50px;margin-top:0px;height:40px;padding-top:15px;}
    .content_right_ul{float:right;padding-left:0px;width:100px;list-style-type: none;}
    .content_right_ul2{list-style-type: none;clear:both;width:580px;height:50px;}
    .li1{float:left;width:25px;height:22px;text-align:center;margin-left:20px;border:1px solid #522a06;}
    .li2{float:left;width:30px;height:22px;text-align:center;margin-left:20px;border:1px solid #522a06;}
    li{line-height:30px;}
    .footer_ul{list-style-type:none;height:30px;width:450px;margin:0 auto;}
    .footer_li{float:left;}
    .footer_img{margin-top:10px;margin-left:400px;}
